<%# <h1>Lists#show</h1> %>
<%# <p>Find me in app/views/lists/show.html.erb</p> %>
<h2><%= @list.name %></h2>
<%= cl_image_tag @list.photo.key, width: 400, height: 300, crop: :fill %>

<ul class="list-group">
  <% @list.movies.each do |movie| %>
  <% bookmark = Bookmark.find_by(list: @list, movie: movie) %>
    <li class="list-group-item">
      <p><%= movie.title %></p>
      <p><%= movie.overview %></p>
      <p><%= image_tag movie.poster_url %></p>
      <p>⭐️ <%= movie.rating %></p>
    </li>
  <% end %>
    <h2>Add a movie to the list</h2>
      <%= simple_form_for [@list, @bookmark] do |f| %>
      <%= f.input :comment %>
      <%= f.association :movie %>
      <%= f.button :submit %>
      <% end %>
</ul>
